@import "../mixins/_media-query.scss";

.footer-find-location-bar {
    display: block;
    margin: 0 auto;
    width: 250px;

    .action-icon {
        cursor: pointer;
        user-select: none;

        &.fa {
            color: $red; font-size: 19px;
            padding-left: 10px;
        }

    }

    h2 {
        padding: 15px;
    }

    @include respond-to($phone) {

      display: none;

    }

}

footer {
     * {
         color: white;
     }

     .fa {
         font-size: 24px;
     }

     .locations-footer-menu.sticky {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
     }

     .locations-container {
        transition: all 350ms;
        height: 120px;
        overflow:hidden;

        @include respond-to($tablet-portrait) {
            height: 70px;
            .col-xs-12 {
                padding: 8px;
            }

            .headline-2 {
                font-size: 12px !important;
                text-align: center;
                padding-top: 0;
                margin-top: 0;
            }
        }
        @include respond-to($tablet-landscape) {
            height: 70px;
            .col-xs-12 {
                padding: 8px;
            }

            .headline-2 {
                font-size: 12px;
                text-align: center;
                padding-top: 0;
                margin-top: 0;

            }
        }

        &.hide-locations-container {
            height: 0;
            padding: 0;
            .col-xs-12 {
                height: 0;
            }
        }

     }

     .journey-logo-nav-section {
        @include respond-to($tablet-portrait) {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        @include respond-to($phone) {
            padding-bottom: 10px;
        }
     }

     .icon-container {
        text-align: right;

        p {
            display: inline;
            margin-right: 5px !important;
        }

        ul {
            display: inline;

            li {
                margin-right: -5px;
                padding-left:12px; padding-right: 12px;
                cursor: pointer;

                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
     }
}

footer .footer-text {
	line-height: 99%;
}

.double-border {
    position: relative;
    border-right: 1px solid ;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-image: linear-gradient(to top, #034759, rgba(#034759, 0)) 1 100%;
    height: 80px;
}

.double-border:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -2px;
    bottom: 0;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-image: linear-gradient(to top, black, rgba(black, 0)) 1 100%;
    z-index: 1;
}


.sticky-location-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
//==================================
// responsive styles
//==================================
@media all and (max-width: 480px) {
    footer {
        p.footer-text {
            line-height: 180%;
        }
    }
}
